@import "../settings/colors";
@import "../settings/variables";
.node__meta {
  margin: $space-xl 0 0;
  color: $color-dark-grey;
  font-size: $font-size--s;
  span {
    margin: 0 0.5rem 0 0.25rem;
    letter-spacing: -0.5rem;
  }
}
