@import "../settings/settings";

.node__meta {
  margin: $space-xl 0 0;
  color: $color-dark-grey;
  font-size: $font-size--s;
  line-height: $line-height--l;

  span {
    margin: 0 0.5rem 0 0.25rem;
    letter-spacing: -0.5rem;
  }
}

.comments {
  @include grid();

  margin-bottom: $space-xxl;

  .disqus_comments {
    @include grid-content();
  }
}

#disqus_trigger {
  @include  button();
}
