@import "../settings/settings";

.align-right {
  margin-right: 0;
}

main {
  @media screen and (min-width: $screen-sm) {
    padding-top: $space-header-top;
    padding-bottom: $space-header-bottom;
  }
}

#content {
  overflow: hidden;
}
