@import "../settings/colors";
@import "../settings/variables";
@import "../settings/mixin";
pre[class*="language-"] {
  margin-top: -$space;
  margin-bottom: $space-xl;
  padding: 0 $space-xl $space-l;
  > code {
    line-height: $line-height--l;
  }
}
