@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,900&display=swap&subset=devanagari,latin-ext');
h1,
h2,
h3,
h4,
h5,
h6
{
    font-family: $font-family;
    font-weight: $font-weight--bold;
    line-height: $line-height--s;

    margin-bottom: $space-l;
}
h1
{
    font-size: $font-size--xl;

    color: $color-secondary;
    @media screen and (min-width: $screen-sm)
    {
        font-size: $font-size--xxl;
    };
    @media screen and (min-width: $screen-lg)
    {
        font-size: $font-size--xxxl;
    }
}
h2
{
    font-size: $font-size--xxl;
}
h3
{
    font-size: $font-size--xl;
}
h4,
h5
{
    font-size: $font-size--l;
}
h6
{
    font-size: $font-size;
}
p
{
    font-size: $font-size--text;
    line-height: $line-height;

    margin-top: $space-text-top;
    margin-bottom: $space-text-bottom;
    &:last-child
    {
        margin-bottom: 0;
    }
    &:first-child
    {
        margin-top: 0;
    }
}
strong
{
    font-weight: $font-weight--bold;
}
em
{
    font-style: italic;
}
