{% extends "@imalabya/layout/page.html.twig" %}

{% block content %}
	<main>
		{{ page.header }}
		<div id="content">
			<a id="main-content" tabindex="-1"></a>
			{{ page.content }}
		</div>
	</main>
{% endblock %}
