@import "../settings/colors";
@import "../settings/variables";
@import "../base/mixin";
.b-entry {
  @include grid();
  margin-bottom: $space-l;
  padding-bottom: $space-l;
}
.b-aside {
  grid-column: 1/2;
  grid-row: 1;
  @media screen and (min-width: $screen-lg) {
    grid-column: 1/3;
  }
  > * {
    display: block;
    text-align: center;
    font-family: $font-secondary;
  }
  .date {
    color: $color-primary;
    font-size: $font-size--xxl;
    font-weight: $font-weight--bold;
    @media screen and (min-width: $screen-sm) {
      font-size: $font-size--xxxl;
    }
  }
}
.b-title {
  grid-column: 2/7;
  @media screen and (min-width: $screen-lg) {
    grid-column: 3/11;
  }
  > h2 {
    margin-bottom: 0;
  }
  a {
    color: $color-primary;
    font-size: $font-size--xl;
  }
}
.b-content {
  grid-column: 1/7;
  @media screen and (min-width: $screen-sm) {
    grid-column: 2/7;
  }
  @media screen and (min-width: $screen-lg) {
    grid-column: 3/11;
  }
  a {
    font-size: $font-size--s;
    font-weight: $font-weight--medium;
  }
}
