.dialog-off-canvas-main-canvas {
  position: relative;
}
body {
  position: relative;
  display: block;
  margin: auto;
  word-break: break-word;
  color: $color-black;
  font-family: $font-primary;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;

  -webkit-font-smoothing: antialiased;
}
* {
  box-sizing: border-box;
  &:focus {
    outline-width: 0.0625rem;
  }
}
