@import "../settings/settings";

.dialog-off-canvas-main-canvas {
  position: relative;
}

body {
  position: relative;
  display: block;
  margin: auto;
  text-rendering: optimizeLegibility;
  word-break: break-word;
  color: $color-black;
  font-family: $font-primary;
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;

  &:focus {
    outline-width: 0.0625rem;
    outline-offset: 0.125rem;
  }
}

#skip-link {
  position: absolute !important;
  z-index: -10;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;

  &:focus,
  &:active {
    z-index: 100;
    overflow: visible;
    clip: auto;
    width: auto;
    height: auto;
  }
}

label {
  margin-right: $space-s;
  text-transform: uppercase;
  color: $color-dark-grey;
  font-size: $font-size--xs;
  font-weight: $font-weight--bold;
}

.more-link {
  @include button();
}

.visually-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  position: static !important;
  overflow: visible;
  clip: auto;
  width: auto;
  height: auto;
}
