@import "../settings/settings";

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $space-l;
  letter-spacing: -0.05rem;
  color: $color-primary;
  font-family: $font-primary;
  font-weight: $font-weight--bold;
  line-height: $line-height;
}

h1 {
  margin: 0;
  font-size: $font-size--xl;

  @media screen and (min-width: $screen-sm) {
    font-size: $font-size--xxl;
  }

  @media screen and (min-width: $screen-lg) {
    font-size: $font-size--xxxl;
  }
}

h2 {
  margin-top: $space-xxl;
  margin-bottom: $space;
  text-transform: uppercase;
  color: $color-secondary;
  font-size: $font-size;
}

h3 {
  margin-top: $space-xxl;
  margin-bottom: $space-m;
  font-size: $font-size--l;

  @media screen and (min-width: $screen-sm) {
    font-size: $font-size--xl;
  }
}

h4 {
  margin-bottom: $space-s;
  font-size: $font-size--m;
}

h5 {
  margin: 0;
  text-transform: uppercase;
  font-size: $font-size--s;
}

a {
  transition: background $transition-time linear, color $transition-time linear;
  vertical-align: baseline;
  text-decoration: underline;
  color: $color-link;
  background: transparent;

  &:hover,
  &:focus {
    color: $color-link--hover;
    background: $color-link--hover-bg;
  }
}

p {
  margin: 0 auto $space-text auto;
  font-family: $font-secondary;
  font-size: $font-size--text;
  line-height: $line-height--l;
}

blockquote {
  margin: $space-text 0;
  padding: $space-l;
  border-left: 0.5rem solid $color-secondary;
  background: $color-smoke;
  font-style: italic;

  @media screen and (min-width: $screen-lg) {
    margin-right: $box-space;
  }

  > p {
    font-size: $font-size--l;
    @media screen and (min-width: $screen-lg) {
      font-size: $font-size--xl;
    }
  }
}

strong {
  font-weight: $font-weight--bold;
}

em {
  font-style: italic;
}

ul,
ol {
  margin: $space-text 0;
  padding-left: $space-m;
  font-family: $font-secondary;
  font-size: $font-size--text;

  > li {
    margin-bottom: $space;
    line-height: $line-height--l;

    p {
      margin-bottom: 0;
    }
  }

  ul,
  ol {
    margin: $space;
  }
}

.align-right {
  height: auto;
  margin: $space-l 0;

  @media screen and (min-width: $screen-sm) {
    float: right;
    max-width: $box;
    margin-top: $space-s;
    margin-bottom: $space-s;
    margin-left: $space;
  }

  @media screen and (min-width: $screen-lg) {
    margin-right: $box-space;
  }
}

.align-center {
  height: auto;
  margin-top: $space-l;
  margin-bottom: $space-l;
  box-shadow: $box-shadow;
}

figure {
  margin: 0;
  background: $color-smoke;

  > img {
    width: 100%;
  }

  figcaption {
    padding: $space-s;
    font-family: $font-secondary;
    font-size: $font-size--s;
    font-style: italic;
  }
}

p > code,
li > code {
  padding: 0 $space-xs;
  color: $color-dark-grey;
  background: $color-smoke;
}

.info-box {
  padding: $space;
  padding-left: $space-l;
  border-left: 0.25rem solid $color-primary;
  background: $color-info-box-bg;
}
