#footer {
  @include container();
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: $space-xxl;
  margin-bottom: 0;
  padding-top: $space-l;
  padding-bottom: $space-m;
  color: $color-dark-grey;
  > * {
    margin: 0;
    font-family: $font-primary;
    font-size: $font-size--s;
    font-weight: $font-weight--medium;
  }
  p > svg {
    display: inline-block;
    vertical-align: middle;
  }
}
#social {
  margin-bottom: $space;
  @media screen and (min-width: $screen-sm) {
    margin: 0;
  }
}
#social > a {
  display: inline-block;
  width: 45%;
  margin-bottom: $space;
  text-decoration: none;
  @media screen and (min-width: $screen-sm) {
    width: auto;
    margin-right: $space;
  }
  > svg {
    vertical-align: middle;
  }
}
