<button id="disqus_trigger" onclick="load_disqus('{{ disqus_shortname }}')"> {% include "@imalabya/svg/conversation.html.twig" %} {{ 'Join the conversation'|t }}</button>
<div id="disqus_thread"></div>
