@import "../settings/colors";
@import "../settings/variables";
@import "../settings/mixin";
form {
  @include grid();
  margin-top: $space-xl;
  margin-bottom: $space-xl;
  > * {
    grid-column: 1 / span 6;
  }
  > .form-item {
    margin-bottom: $space-s;
    label {
      display: block;
      margin-bottom: $space-xs;
      text-transform: capitalize;
      color: $color-primary;
      font-size: $font-size;
    }
  }
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: $space-s;
  border: 0.125rem solid $color-primary;
  font-size: $font-size;
}
input[type="submit"],
input[type="button"],
button {
  @include button();

  grid-column: 1/4;
}
