@import "../settings/colors";
@import "../settings/variables";
@import "../settings/mixin";
#prevnext {
  @include no-bullet();
  @include grid();
  margin-top: $space-xxl;
  margin-bottom: $space-l;
  > li {
    position: relative;
    padding: $space-s;
    border: $border;

    grid-column: 1 / -1;
    @media screen and (min-width: $screen-sm) {
      text-align: right;

      grid-column: 7 / span 6;
    }
    &:first-child {
      text-align: left;

      grid-column: 1 / -1;
      @media screen and (min-width: $screen-sm) {
        grid-column: 1 / span 6;
      }
    }
  }
}
