@import "../settings/settings";

#prevnext {
  @include no-bullet();
  @include grid();

  margin-top: $space-xxl;
  margin-bottom: $space-l;
  font-family: $font-primary;

  > li {
    position: relative;
    grid-column: 1 / -1;
    padding: $space-s;
    border: $border;
    line-height: $line-height;

    > a {
      font-size: $font-size;
    }

    @media screen and (min-width: $screen-sm) {
      grid-column: 7 / span 6;
      text-align: right;
    }

    &:first-child {
      grid-column: 1 / -1;
      text-align: left;

      @media screen and (min-width: $screen-sm) {
        grid-column: 1 / span 6;
      }
    }
  }
}
