$color-black: #020202;
$color-white: #fff;
$color-grey: #8c8c8c;
$color-smoke: #f7f9fa;
$color-primary: #ae162b;
$color-secondary: #008cba;
$color-link: $color-secondary;
$color-link--hover: transparentize($color-link, 0.85);
$success: transparentize(#26a769, 0.9);
$danger: transparentize(#d72222, 0.9);
$warning: transparentize(#ffd23f, 0.9);
