$color-black: #020202;
$color-white: #fff;
$color-dark-grey: #545560;
$color-grey: #8ca3b1;
$color-smoke: #f4f6f7;
$color-primary: #161b59;
$color-secondary: #1d70b8;
$color-link: $color-secondary;
$color-link--hover: $color-primary;
$color-link--hover-bg: transparentize($color-link, 0.85);
$color-header-bg: transparentize($color-secondary, 0.95);
$success: transparentize(#26a769, 0.9);
$danger: transparentize(#d72222, 0.9);
$warning: transparentize(#ffd23f, 0.9);
