//Mixins
@mixin no-bullet {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

@mixin hide-text {
  display: block;
  overflow: hidden;
  text-indent: -9000px;
}

// Clearfix
@mixin clearfix() {
  &:before,
  &:after {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}
@mixin container($margin: $space-l) {
  max-width: $container;
  margin: 0 auto $margin auto;
  padding-right: $space-m;
  padding-left: $space-m;
}
@mixin grid() {
  display: grid;

  grid-gap: $space-m;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  @media screen and (min-width: $screen-lg) {
    grid-column-gap: $space-l;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
}
@mixin grid-content() {
  grid-column: 1 / 7;
  @media screen and (min-width: $screen-sm) {
    grid-column: 1 / 9;
  }
  @media screen and (min-width: $screen-lg) {
    grid-column: 1 / 10;
  }
}
@mixin button {
  display: inline-block;
  margin: $space 0;
  padding: $space-s $space;
  transition: $transition-time background ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-primary;
  border: 0.125rem solid $color-primary;
  background: $color-white;
  font-size: $font-size--s;
  font-weight: $font-weight--medium;
  &:hover {
    cursor: pointer;
    background: $color-link--hover-bg;
  }
}
