//Mixins
@mixin no-bullet {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}

@mixin hide-text {
  display: block;
  overflow: hidden;
  text-indent: -9000px;
}

// Clearfix
@mixin clearfix() {
  &::before,
  &::after {
    display: table;
    content: "";
  }

  &::after {
    clear: both;
  }
}

@mixin container($margin: $space-l) {
  max-width: $container;
  margin: 0 auto $margin auto;
  padding-right: $space-m;
  padding-left: $space-m;

  @media screen and (min-width: $screen-sm) {
    padding-right: $space-xxl;
    padding-left: $space-xxl;
  }

  @media screen and (min-width: $screen-lg) {
    padding-right: 0;
    padding-left: 0;
  }
}

@mixin grid() {
  display: grid;
  grid-template-columns: repeat(6, minmax(0, 1fr));
  grid-gap: $space-m;

  @media screen and (min-width: $screen-lg) {
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-column-gap: $space-l;
  }
}

@mixin grid-content() {
  grid-column: 1 / 7;

  @media screen and (min-width: $screen-lg) {
    grid-column: 1 / 10;
  }
}

@mixin button {
  -webkit-appearance: none;
  display: inline-block;
  margin: $space 0;
  padding: $space-s $space;
  transition: $transition-time background ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  color: $color-primary;
  border: 0.125rem solid $color-primary;
  border-radius: 0;
  background: $color-white;
  font-size: $font-size--s;
  font-weight: $font-weight--bold;

  &:hover {
    cursor: pointer;
    background: $color-link--hover-bg;
  }
}
