// Font and text setting.
$font-primary: "Poppins", sans-serif;
$font-secondary: "Alegreya", serif;
$font-weight: 400;
$font-weight--medium: 500;
$font-weight--bold: 700;
$font-size--xs: 0.75rem;
$font-size--s: 0.875rem;
$font-size: 1.0625rem;
$font-size--l: 1.75rem;
$font-size--xl: 2rem;
$font-size--xxl: 3rem;
$font-size--xxxl: 4rem;
$font-size--text: 1.25rem;
$font-size--blockquote: 1.35rem;
$font-size--menu: 1rem;
$line-height--s: 1;
$line-height: 1.25;
$line-height--l: 1.8;
// Container and breakpoints.
$container: 65rem;
$ckeditor-container: 42rem;
$screen-lg: 65rem;
$screen-sm: 48rem;
// Spacing
$space: 1rem;
$space-xs: 0.25rem;
$space-s: 0.75rem;
$space-m: 1.125rem;
$space-l: 2.5rem;
$space-xl: 3.5rem;
$space-xxl: 6rem;
$space-header-top: 15rem;
$space-header-top-sm: 5rem;
$space-header-bottom: 3.5rem;
$space-text: 2.25rem;
$space-text-aside: 8rem;
// Misc
$box-shadow: 0 0.0625rem 1.25rem 0 rgba(0,0,0,0.15);
$transition-time: 300ms;
$box: 25rem;
$box-space: -16.35rem;
$border: 0.0625rem solid $color-grey;
$border-light: 0.125rem solid $color-smoke
