.breadcrumb {
  > ol {
    @include no-bullet();

    display: flex;
    flex-flow: row wrap;
  }

  * {
    margin: 0;
    font-family: $font-primary;
    font-size: $font-size--s;
  }

  li {
    &::after {
      margin-right: $space-xs;
      content: "\000BB";
    }

    &:last-child::after {
      content: "";
    }
  }
}
