#header nav {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  > a {
    padding: $space-s;
    text-decoration: none;
    font-family: $font-primary;
    font-size: $font-size--menu;
    font-weight: $font-weight--bold;
  }
}
