table {
  min-width: 100%;
  margin-top: $space-text;
  margin-bottom: $space-text;
  padding: $space-xs;
  border: $border;

  th,
  td {
    padding: $space $space-s;
    text-align: left;
  }

  th {
    color: $color-white;
    background-color: $color-secondary;
  }

  tbody > tr:nth-child(odd) > td {
    background: $color-bg;
  }
}
