<svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewbox="0 0 380 380" aria-labelledby="site-logo" role="img">
	<title id="site-logo">iMalabya Logo</title>
	<g transform="translate(0.000000,380.000000) scale(0.100000,-0.100000)" fill="#008cba" stroke="none">
		<path d="M0 1900 l0 -1900 1900 0 1900 0 0 1900 0 1900 -1900 0 -1900 0 0
		-1900z m1348 501 c342 -288 622 -528 622 -534 0 -8 -79 -113 -121 -161 -4 -4
		-218 168 -476 384 l-468 393 -3 -816 -2 -817 -105 0 -105 0 0 1051 c0 1015 1
		1050 18 1037 10 -7 298 -249 640 -537z m1762 -501 l0 -1050 -105 0 -105 0 -2
		735 -3 734 -489 -650 c-269 -358 -493 -652 -496 -654 -4 -3 -174 135 -379 306
		l-371 311 0 140 c0 109 3 138 13 132 6 -4 164 -135 350 -291 185 -156 341
		-282 345 -279 4 2 284 367 622 810 338 443 616 805 618 806 1 0 2 -472 2
		-1050z"/>
	</g>
</svg>
